<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.withearth">

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_with_earth_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_with_earth_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WithEarth"
        tools:replace="android:appComponentFactory, android:theme, android:icon">
        <activity android:name=".News2Activity"></activity>
        <activity android:name=".News1Activity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".RegisterCompletionActivity" />
        <activity android:name=".MyPageActivityCollectingUsing" />
        <activity android:name=".RegisterAgreementActivity" />
        <activity android:name=".StoreActivitySundries" />
        <activity android:name=".StoreActivityCosmetic" />
        <activity android:name=".StoreActivityFood" />
        <activity android:name=".StoreActivityClean" />
        <activity android:name=".UserInfoActivity" />
        <activity android:name=".StoreActivityCartUnlogin"/>
        <activity android:name=".StoreActivityCloth" />
        <activity android:name=".StoreActivityCategory" />
        <activity android:name=".StoreActivityCartUnlogin" />
        <activity android:name=".PwdCheckActivity" />
        <activity android:name=".StoreActivityOrderSuccess" />
        <activity android:name=".HomePointInfo" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StoreActivityConfirmOrder" />
        <activity android:name=".JjimActivityEdit" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".StoreActivityCart" />
        <activity android:name=".StoreActivityProductDetails" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBqYBsGLyvMP9A3W9gAnzYTORBCTCc4ETE" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>